* {
  font-size: 1.2em;
  text-align: center;
  margin: 20px;
}

h1 {
  color: #1d8a6f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1:hover {
  color: rgb(43, 136, 19);
}

#preview {
  text-align: left;
  margin: 0 auto;
  max-width: 90%;
  padding: 20px;
  background-color: #1d8a6f;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  * {
    font-size: 0.9em;
  }

  #preview {
    max-width: 100%;
    padding: 10px;
  }

  img {
    width: 100%;
  }
}
